<!DOCTYPE html>
<html>
<head>
	<title>About</title>
</head>
<body>
	<h1>
		About MiniAmazon
	</h1>
	<p>
		This is a project created in the valley bootcamp python course in an attempt to learning back-end development.
		I am a techno enthusiast and love to experiment with new gadgets and a great passion for design thrives in me. Hence, this is a result of the many learning ways I undertake.Give a thumps up if you enjoyed visiting this site.
	</p>
	<ul>
		<li><a href="/contact">Contact</a></li>
		<li><a href="/">Home</a></li>
		

	</ul>

</body>
</html>