<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
</head>
<body>
	
	<h3>Sign up</h3>
		<form action="/signup" method="post" id="form2">
			<input type="text" name="username" placeholder="username"><br>
			<input type="password" name="password"  placeholder="password"><br>
			<input type="password" name="rpassword"placeholder="re-enter password"><br>
			<input type="text" name="email"  placeholder="email"><br>
			<input type="radio" name="ctype" value="buyer">Buyer<br>
			<input type="radio" name="ctype" value="seller">Seller<br>
		</form>
    

		

		<button type="submit" form="form2" value="Submit">Submit</button> <br>
		<a href="/">Home</a>
</body>
</html>